* {
  box-sizing: border-box;
}
.form {
  width: 100%;
  display: flex;
}

.Add {
  display: flex;
  background-color: var(--inputColor);
  border-radius: 10px;
  padding: 5px;
}

.input {
  background-color: transparent;
  font-size: 16px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--buttonBg);
  font-size: 20px;
}
