ul {
  list-style: none;
  padding-left: 0;
  align-items: center;
  font-size: 1.2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid var(--gray);
}

.filters {
  display: flex;
}

.filter {
  font-size: 1.4rem;
  margin: 0.3rem;
  text-transform: capitalize;
  background-color: transparent;
  color: var(--purple);
  opacity: 0.5;
  font-weight: bold;
  outline: none;
  border: none;
}

.filter:hover {
  color: var(--purple);
  opacity: 1;
}

.filter:focus {
  color: var(--purple);
  opacity: 1;
}
